:root {
  --primary: rgb(127, 218, 9);
  --secondary: rgb(96, 168, 1);
  --for2: #333;
  --for: black;
  --for1: #212121;
  --background: #fff;
  --bg1: #e0e0e0;
  --mid: #808080;
  --for:#000000;
  --poppins: "Poppins", sans-serif;
  --cormo: "Cormorant Garamond", serif;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary);
  -webkit-transition: .4s;
  transition: .4s;
}

.higher {
  position: relative;
  z-index: 10;
}

p {
  font-family: var(--poppins);
}

H3 {
  font-family: var(--poppins);
}

.title {
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 3vw;
  letter-spacing: 2px;
  text-align: center;
}

.subtitle {
  font-family: var(--poppins);
  font-size: 2.5vh;
  margin: 1vw;
}

.pad {
  padding: 0 10vw;
}

section {
  position: relative;
  padding: 20vh 10vw 12vh 10vw;
  overflow: hidden;
}

.heading {
  font-family: var(--cormo);
  font-size: 20vh;
  margin: 0px;
  font-style: italic;
  font-weight: 300;
  color: var(--bg1);
  position: absolute;
  white-space: nowrap;
  top: 1vh;
  left: 10vw;
}

.headingskills {
  right: -200vw;
}

.headingtouch {
  top: 6vh;
  left: -500px;
}

.headingb {
  color: var(--for1);
}

.subhead {
  font-family: var(--poppins);
  font-size: 4vh;
  text-align: center;
  margin: 60px 0 60px 0;
}

button {
  height: 6vh;
  background-color: white;
  width: 20vw;
  color: #333;
  font-size: 16px;
  font-weight: 900;
  border-radius: 0;
  border: 2px solid #333;
  justify-items: center;
  text-align: center;
  font-family: var(--poppins);
}

.buttondark {
  color: #fff;
  border: 2px solid #fff;
  color: #fff;
  background-color: #333;
  justify-items: center;
  text-align: center;
  vertical-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
}

.buttondark:hover {
  color: #333;
  background-color: #fff;
}

button:hover {
  background-color: var(--for2);
  color: var(--background);
  -webkit-transition: .2s;
  transition: .2s;
}

.button:hover {
  background-color: var(--primary);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

#hero {
  height: 100vh;
  width: 100%;
  background-color: var(--for1);
  padding: 0px;
  /*
  @keyframes scroller {
    0%{
    height: 0px; 
    transform: translateY();   
    }
    50%{
      height: 200px;
      transform: translateY(0px);
    }
    80%{
      height: 50px;
      transform: translateY(150px);
    }
    100%{
      height: 0px;
      transform: translateY(200px);
    }
  }

  @keyframes scroller {
    from{
    transform: translateY();    

    }
    to{
      transform: translateY(150px);
    }
  }
  */
}

#hero #logo {
  font-family: var(--poppins);
  font-size: 3vw;
  color: white;
  padding: 20px;
}

#hero .heromenu {
  position: absolute;
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 1 rem;
  color: white;
  letter-spacing: 3px;
}

#hero .heromenu #resume:hover {
  color: var(--primary);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#hero #resume {
  top: 20px;
  right: 20px;
}

#hero #Work {
  position: absolute;
  top: 51vh;
  left: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#hero #scrolltext {
  bottom: 20px;
  text-align: end;
  right: 30px;
  font-size: 12px;
  font-weight: 50;
  color: var(--bg1);
}

#hero #scroll {
  position: absolute;
  right: 20px;
  bottom: 0px;
  height: 200px;
  width: 2px;
  background-color: var(--mid);
}

#hero #scroll2 {
  left: 30px;
  bottom: 20px;
  height: 200px;
  width: 2px;
  background-color: var(--primary);
  -webkit-animation: scroller 2s infinite ease-in-out;
          animation: scroller 2s infinite ease-in-out;
}

@-webkit-keyframes scroller {
  0% {
    height: 0px;
    -webkit-transform: translateY();
            transform: translateY();
  }
  40% {
    height: 200px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    height: 200px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    height: 0px;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

@keyframes scroller {
  0% {
    height: 0px;
    -webkit-transform: translateY();
            transform: translateY();
  }
  40% {
    height: 200px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    height: 200px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    height: 0px;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

#hero #About {
  position: absolute;
  top: 49vh;
  right: -20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#hero #contact {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#who {
  height: auto;
  background-color: var(--background);
  position: relative;
}

#who #mydp {
  background-color: var(--for1);
  background-image: url(/Assets/img/me_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#what {
  height: auto;
  width: auto;
  position: relative;
  background-color: var(--for2);
  text-align: center;
}

#what h2 {
  text-align: center;
  color: var(--background);
}

#skills {
  min-height: 800px;
  position: relative;
}

#skills H2 {
  display: block;
  position: normal;
}

#skill {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.skill {
  position: relative;
  height: 12vh;
  width: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: start;
}

.skill H3 {
  display: inline-block;
  vertical-align: middle;
  font-size: 2vw;
  margin: 30px 0 30px 0px;
}

.skill .skillhide {
  position: absolute;
  height: 10px;
  width: 100%;
  bottom: 0px;
  background-color: var(--bg1);
}

.skill .skillhover {
  height: 10px;
  width: 70%;
  bottom: 0px;
  background-color: var(--primary);
}

#softwares {
  padding-top: 0px;
  padding-bottom: 0px;
}

#softwares #sketch {
  background-image: url(/Assets/img/software-logo/sketch.png);
}

#softwares #figma {
  background-image: url(/Assets/img/software-logo/Figma.png);
}

#softwares #invision {
  background-image: url(/Assets/img/software-logo/invision.png);
}

#softwares #XD {
  background-image: url(/Assets/img/software-logo/XD.png);
}

#softwares #PS {
  background-image: url(/Assets/img/software-logo/Photoshop.png);
}

#softwares #AIlogo {
  background-image: url(/Assets/img/software-logo/Illustrator.png);
}

#softwares #AElogo {
  background-image: url(/Assets/img/software-logo/After-Effects.png);
}

#softwares #PPlogo {
  background-image: url(/Assets/img/software-logo/Premiere.png);
}

#softwares #IDlogo {
  background-image: url(/Assets/img/software-logo/Indesign.png);
}

#softwares #zeplin {
  background-image: url(/Assets/img/software-logo/zeplin.png);
}

#softwares #abstractlogo {
  background-image: url(/Assets/img/software-logo/Abstract.png);
}

#softwares #VSCode {
  background-image: url(/Assets/img/software-logo/VS-Code.png);
}

@media only screen and (max-width: 1024px) {
  .m-hidden {
    display: none;
  }
  .heading {
    font-size: 7vh;
    font-family: var(--cormo);
    font-style: italic;
    font-weight: 300;
    color: var(--bg1);
    position: absolute;
    white-space: nowrap;
    top: 5vw;
    right: 10vw;
  }
  .headingb {
    font-size: 7vh;
    font-family: var(--cormo);
    font-style: italic;
    font-weight: 300;
    color: var(--for1);
    position: absolute;
    white-space: nowrap;
    top: 5vw;
    right: 10vw;
  }
  .hidden-m {
    display: none;
  }
  .title {
    font-family: var(--poppins);
    font-size: 8vw;
    line-height: 11vw;
  }
  button {
    width: 80vw;
    height: 8vh;
  }
  .buttondark {
    color: #fff;
    border: 2px solid #fff;
    color: #fff;
    background-color: #333;
    justify-items: center;
    text-align: center;
    vertical-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
  }
  .buttondark:hover {
    color: #333;
    background-color: #fff;
  }
  .subhead {
    font-size: 3vh;
    font-family: var(--poppins);
    color: var(--for);
    text-align: center;
    margin: 60px 0 30px 0;
  }
  #hero {
    height: 100vh;
    width: 100%;
    background-color: var(--for1);
    padding: 0px;
  }
  #hero .siconhero {
    display: none;
  }
  #hero #logo {
    font-size: 6vh;
  }
  #who {
    height: auto;
  }
  #who #aboutme {
    margin-top: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  #who .aboutme {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #who #mydp {
    height: 80vw;
    width: 80vw;
  }
  #who .subhead {
    text-align: center;
    line-height: 3rem;
  }
  #who .workgrid {
    display: none;
  }
  section {
    padding: 10vh 10vw 6vh 10vw;
  }
  .pad {
    padding: 0 10vw;
  }
  #what {
    text-align: center;
  }
  #what .workgrid div {
    background-color: var(--mid);
  }
  #what .workgrid-m {
    margin: 60px 0px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-row-align: center;
        align-self: center;
    grid-gap: 30px;
  }
  #what .workgrid-m .collection {
    height: 80vw;
    width: 80vw;
    background-image: url(/Assets/img/headphone-popup.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
  }
  #what .workgrid-m .collection .colloverlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #what .workgrid-m .collection .colloverlay .title {
    position: absolute;
    opacity: 1;
    color: white;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #skills {
    height: 860px;
    position: relative;
  }
  #skill {
    width: 100%;
    height: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
  }
  #skill H3 {
    font-size: 2vh;
    margin: 20px 0 20px 0;
    display: block;
  }
  #s1 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #s2 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #s3 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #s4 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #s5 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #s6 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #s7 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #s8 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #s9 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #s10 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #s11 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #s12 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #softwares {
    height: 800px;
  }
  #software {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-column-gap: 20px;
  }
  .software {
    width: auto;
    height: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .softlogo {
    width: 100%;
    max-width: 180px;
    height: 90px;
  }
  #love {
    position: relative;
    height: auto;
  }
  #love #hobbies {
    width: 100%;
  }
  #love .hobby {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  #love .hobby div {
    width: 100%;
  }
  #love .hobby .hobbypic {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    background-image: url(/Assets/img/gauravborra.jpg);
    background-position: center;
    background-size: cover;
  }
  #love button {
    visibility: hidden;
  }
  #love .hobby {
    height: 80vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #love .hobbypic {
    background-color: var(--for1);
  }
  #love .hobbyinfo {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  #touch {
    padding: 0vh 0 12vh 0;
  }
  #touch span {
    font-size: 22px;
    overflow-wrap: break-word;
  }
  #touch .heading {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  #touch .subhead {
    display: block;
    margin: 3vh 0px;
    padding: 0 3vh;
  }
  #touch .touchbg {
    height: 30vh;
    width: 100%;
    text-align: center;
    background-color: var(--for1);
    color: var(--background);
  }
  #touch .touchbg span {
    color: var(--primary);
    overflow-wrap: break-word;
  }
  #touch .touchbg h2 {
    padding: 6vh 3vh;
    color: var(--background);
  }
  #footer {
    height: auto;
    color: white;
    background-color: var(--for1);
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: var(--poppins);
  }
  #footer .social {
    display: inline-block;
    width: 100%;
  }
  #footer .ficon {
    fill: var(--primary);
    height: auto;
    width: 20px;
    margin: 6vh 10px;
  }
  #footer h4 {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 4px;
    font-family: var(--poppins);
  }
  #footer .fcollection {
    display: none;
    padding: 5vh 4vw;
    color: var(--background);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  #footer .fcollection h4:nth-child(odd) {
    -ms-grid-column-align: start;
        justify-self: start;
    text-align: start;
  }
  #footer .fcollection h4:nth-child(even) {
    -ms-grid-column-align: end;
        justify-self: end;
    text-align: end;
  }
  #footer .fcollection H5 {
    font-family: var(--poppins);
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-column-align: center;
        justify-self: center;
    color: var(--mid);
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  #footer #footinfo {
    text-align: center;
    left: 2vw;
    bottom: 1.5vw;
  }
  #footer #footinfo div {
    padding: 6px;
  }
  #footer #footinfo .phoneicon {
    background-image: url(/Assets/Svg/whatsapp.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  #footer #footinfo a h4 {
    display: inline-block;
    font-size: 12px;
    color: var(--background);
    -webkit-transform: translateY(-11px);
            transform: translateY(-11px);
    margin: 0 10px;
  }
  #footer #footinfo .emailicon {
    background-image: url(/Assets/Svg/mail.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  footer {
    color: white;
    text-align: center;
    width: 100%;
    background-color: black;
    bottom: 0px;
  }
  footer p {
    padding: 2vh 0;
    margin: 0px;
  }
  #insta {
    padding: 4vw 6vw;
  }
  .pagefooter {
    min-height: 120px;
    position: relative;
  }
  .pagefooter .footinfo {
    display: inline-block;
    margin-left: 50px;
    position: absolute;
    bottom: 0px;
  }
  .pagefooter svg {
    width: 20px;
    height: 20px;
    margin: 20px;
    fill: var(--background);
  }
  .pagefooter .social {
    width: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .pagefooter .ficon {
    fill: var(--background);
    height: auto;
    width: 20px;
    margin: 15px;
  }
  .pagefooter .ficon:hover {
    fill: var(--primary);
  }
}

@media only screen and (min-width: 441px) {
  .hidden-l {
    display: none;
  }
  #skill {
    width: 100%;
    height: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
  }
  #skill H3 {
    font-size: 2vh;
    margin: 20px 0 20px 0;
    display: block;
  }
  #software {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-column-gap: 20px;
  }
  .fcollection {
    padding: 5vh 4vw;
    color: var(--background);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .fcollection h4:nth-child(odd) {
    -ms-grid-column-align: start;
        justify-self: start;
    text-align: start;
  }
  .fcollection h4:nth-child(even) {
    -ms-grid-column-align: end;
        justify-self: end;
    text-align: end;
  }
  .fcollection H5 {
    font-family: var(--poppins);
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-column-align: center;
        justify-self: center;
    color: var(--mid);
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}

/* normal laptops*/
@media (min-width: 1025px) {
  .l-hidden {
    display: none;
  }
  #aboutme {
    height: 70vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 36%;
    height: 10px;
    width: 30%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
  #hero span:hover {
    color: var(--primary);
  }
  #hero .siconhero {
    height: auto;
    width: 20px;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  #hero .siconhero .hicon {
    height: 20px;
    width: 20px;
    fill: var(--background);
    margin: 15px 0;
  }
  #who .subhead {
    text-align: left;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #who .aboutme {
    height: 100%;
    text-align: center;
  }
  #who p {
    display: inline-block;
    margin: 0px;
    padding: 60px;
  }
  #what .workgrid {
    margin: 60px 0 60px 0;
    height: 75vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-column-align: center;
        justify-self: center;
    grid-gap: 10vh;
  }
  #what .workgrid-m {
    display: none;
  }
  .collection {
    height: 35vw;
    width: 35vw;
    background-image: url(/Assets/img/headphone-popup.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: perspective(1000px);
            transform: perspective(1000px);
    position: relative;
  }
  .collection .colloverlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .collection .colloverlay .title {
    position: absolute;
    opacity: 1;
    color: white;
    text-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    left: 23%;
    top: 36%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: translateZ(100px);
            transform: translateZ(100px);
    -webkit-transition: .2s;
    transition: .2s;
  }
  .collection:hover .colloverlay {
    opacity: 1;
  }
  #skills {
    min-height: 800px;
    position: relative;
  }
  #skills H2 {
    display: block;
    position: normal;
  }
  #skill {
    width: 100%;
    height: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
  }
  .skill {
    position: relative;
    height: 10vh;
    width: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: start;
  }
  .skill H3 {
    display: inline-block;
    vertical-align: middle;
    font-size: 10vw;
    margin: 30px 0 30px 0px;
  }
  .skill .skillhide {
    position: absolute;
    height: 10px;
    width: 100%;
    bottom: 0px;
    background-color: var(--mid);
  }
  .skill .skillhover {
    height: 10px;
    width: 0%;
    bottom: 0px;
    background-color: var(--primary);
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  #skill :hover #s1 {
    width: 90%;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  #skill :hover #s2 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #skill :hover #s3 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #skill :hover #s4 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #skill :hover #s5 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #skill :hover #s6 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #skill :hover #s7 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #skill :hover #s8 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #skill :hover #s9 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #skill :hover #s10 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #skill :hover #s11 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #skill :hover #s12 {
    width: 90%;
    -webkit-transition: 0.5 ease-in;
    transition: 0.5 ease-in;
  }
  #softwares {
    height: 660px;
  }
  #software {
    width: 100%;
    height: 250px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .software {
    min-height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #love {
    position: relative;
    min-height: 3600px;
  }
  #love .button {
    visibility: hidden;
  }
  #love #hobbies {
    width: 100%;
  }
  #love .hobby:nth-child(odd) {
    margin: 100px 0 100px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #love .hobby:nth-child(odd) .hobbypic {
    height: 100%;
    background-image: url(/Assets/img/gauravborra.jpg);
    background-position: center;
    background-size: cover;
  }
  #love .hobby:nth-child(odd) .hobbyinfo {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 60px;
  }
  #love .hobby:nth-child(even) {
    margin: 100px 0 100px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #love .hobby:nth-child(even) .hobbypic {
    height: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    grid-auto-rows: auto;
    background-image: url(/Assets/img/gauravborra.jpg);
    background-position: center;
    background-size: cover;
  }
  #love .hobby:nth-child(even) .hobbyinfo {
    padding: 60px;
    text-align: center;
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #love .hobby {
    height: 80vh;
    width: 100%;
  }
  #love #photolove {
    background-image: url(/Assets/img/Love/photbg.png);
  }
  #touch {
    padding: 20vh 0 12vh 0;
    height: 540px;
  }
  #touch .heading {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  #touch .subhead {
    display: block;
    margin: 3vh;
  }
  #touch .touchbg {
    height: 30vh;
    width: 100%;
    text-align: center;
    background-color: var(--for1);
    color: var(--background);
  }
  #touch .touchbg span {
    color: var(--primary);
  }
  #touch .touchbg h2 {
    padding: 8vh;
  }
  #insta {
    padding: 4vw 6vw;
  }
  #footer {
    color: white;
    background-color: var(--for1);
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: var(--poppins);
    text-align: center;
  }
  #footer .social {
    display: inline-block;
    margin: 1vw;
  }
  #footer .ficon {
    fill: var(--background);
    height: auto;
    width: 25px;
    margin: 20px;
  }
  #footer .ficon:hover {
    fill: var(--primary);
  }
  #footer h4 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    -ms-grid-column-align: end;
        justify-self: end;
    margin: 0px;
    font-family: var(--poppins);
  }
  #footer .fcollection {
    position: absolute;
    right: 2vw;
    bottom: 1vh;
    color: var(--background);
    width: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: end;
    z-index: 0;
  }
  #footer .fcollection H5 {
    margin: 0px;
    font-family: var(--poppins);
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-column-align: end;
        justify-self: end;
    color: var(--mid);
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  #footer #footinfo svg {
    width: 20px;
    height: 20px;
    margin: 20px;
    fill: var(--background);
  }
  #footer #footinfo .social {
    display: inline-block;
    right: 20px;
  }
  #footer #footinfo .ficon {
    fill: var(--background);
    height: auto;
    width: 20px;
    margin: 15px;
  }
  #footer #footinfo .ficon:hover {
    fill: var(--primary);
  }
  #footer #footinfo #footinfo {
    text-align: left;
    position: absolute;
  }
  #footer #footinfo #footinfo div {
    margin: 6px;
  }
  #footer #footinfo .phoneicon {
    background-image: url(/Assets/Svg/phone.svg);
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  #footer #footinfo h4 {
    display: inline-block;
    -webkit-transform: translateY(-11px);
            transform: translateY(-11px);
    margin: 0 10px;
  }
  #footer #footinfo .emailicon {
    background-image: url(/Assets/Svg/mail.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  footer {
    height: 8vh;
    color: white;
    text-align: center;
    width: 100%;
    background-color: black;
    bottom: 0px;
  }
  footer p {
    padding: 2vh 0;
    margin: 0px;
  }
  .pagefooter .footinfo {
    display: inline-block;
    margin-left: 50px;
  }
  .pagefooter svg {
    width: 20px;
    height: 20px;
    margin: 20px;
    fill: var(--background);
  }
  .pagefooter .social {
    position: absolute;
    display: inline-block;
    right: 20px;
  }
  .pagefooter .ficon {
    fill: var(--background);
    height: auto;
    width: 20px;
    margin: 15px;
  }
  .pagefooter .ficon:hover {
    fill: var(--primary);
  }
  .pagefooter #footinfo {
    text-align: left;
    position: absolute;
  }
  .pagefooter #footinfo div {
    margin: 6px;
  }
}

/* high res laptop/desktop */
@media (min-width: 1367px) {
  #who {
    height: auto;
    background-color: var(--background);
    position: relative;
  }
  #who H1 {
    top: 5vh;
    right: 10vw;
  }
  #who #mydp {
    background-color: var(--for1);
    background-image: url(/Assets/img/gauravborra.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #aboutme {
    height: 70vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #skills {
    min-height: 440px;
    position: relative;
  }
  #skills H2 {
    display: block;
    position: normal;
  }
  #skill {
    width: 100%;
    height: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
  }
  #footer {
    min-height: 26vh;
  }
  #footer .fcollection {
    position: absolute;
    right: 2vw;
    bottom: 1vh;
    color: var(--background);
    width: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    text-align: end;
  }
  #footer .fcollection H5 {
    font-family: var(--poppins);
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-column-align: end;
        justify-self: end;
    color: var(--mid);
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}

/* Tablets 
@media only screen and (max-width: 767px) {
  
}
}






//@media (min-width: 1025px) and (max-width: 1366px) {
*/
/*# sourceMappingURL=main.css.map */